.login-input {
  font-size: 1.875rem;
  text-align: center;
  height: 3.125rem;
  width: 18.75rem;
  border-radius: 5px;
  border-width: 1px;
  background-color: rgba(196, 196, 196, 0.73);
}

.login-input::placeholder {
  color: white;
  font-size: 1.875rem;
}

.login-btn {
  margin: 0 5%;
  width: 90%;
  font-size: 2.25rem;
  color: white;
  background-color: #0085ff;
  border-radius: 5px;
  font-weight: bold;
}