.m-default {
  margin: 1.875rem;
}

.mt-default {
  margin-top: 1.875rem;
}

.mb-default {
  margin-bottom: 1.875rem;
}

.ml-default {
  margin-left: 1.875rem;
}

.mr-default {
  margin-right: 1.875rem;
}

.mx-default {
  margin: 0 1.875rem;
}

.my-default {
  margin: 1.875rem 0;
}

.card-container:hover {
  transform: scale(1.02);
}

.card-container {
  cursor: pointer;
  height: 16.25rem;
  width: 18.75rem;
  margin-bottom: 3.75rem;
  transition: all .2s ease-in-out;
}

.card-container > a {
  display: block;
}

.card-container img {
  height: 9.375rem;
  width: 9.375rem;
  display: block;
  margin: auto;
}

.card-bg {
  padding-top: 1.5625rem;
  width: 18.75rem;
  height: 12.5rem;
  border-radius: 5px;
  background-color: #00b2ff;
}

.card-link {
  font-size: 2.25rem;
  text-align: center;
  text-decoration: underline;
  color: #001aff;
}

.card-link:hover {
  text-decoration: underline;
}