.confirm-btn {
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.625rem 3.75rem;
  margin-right: 1.875rem;
  background-color: rgba(0, 255, 0,0.8);
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
}

.confirm-btn:focus {
  outline: none;
  opacity: 0.8;
}