/* .pending-item {
  margin-bottom: 1.875rem;
} */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.pending-item {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
/* Decrease max-height for sales because of Total Sales text */
.pending-item-scrollable-inventory {
  overflow-y: auto;
  max-height: 30rem;
}

.pending-item span, .pending-item p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pending-item p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.pending-item button {
  color: red;
  outline: none;
  border: 0;
  background-color: inherit;
}

.pending-item span {
  vertical-align: super;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.delete-icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: rgba(255, 0, 0, 0.8);
}

.pending-item .text-right {
  font-size: 0.8rem;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
}

.pending-item button {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
}
